server {
    root              <%= ENV['OPENSHIFT_REPO_DIR'] %>/piwik;
    listen            <%= ENV['OPENSHIFT_PHP_IP'] %>:<%= ENV['OPENSHIFT_PHP_PORT'] %>;
    server_name       <%= ENV['OPENSHIFT_APP_DNS'] %>;
    index             index.php index.html index.htm <%= ENV['NGINX_EXTRA_INDEX'] %>;

    set_real_ip_from  <%= ENV['OPENSHIFT_PHP_IP'] %>;
    real_ip_header    X-Forwarded-For;

    # avoid caching by proxies
    add_header        Cache-Control private;

    # php file goes straigth to backend
    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass   unix:<%= ENV['OPENSHIFT_DATA_DIR'] %>hhvm.sock;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME   $document_root$fastcgi_script_name;
        include        fastcgi_params;
        include        openshift_params;

        # uncomment to export all environment variables to fastcgi
        include        <%= ENV['OPENSHIFT_REPO_DIR'] %>/config/nginx.d/export_env;
    }

    # Handle any other URI
    location / {
        add_header Strict-Transport-Security max-age=15768000;
        try_files $uri /index.php$is_args$args;
    }
}
